
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.social-media-list {
    position: center;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
    position: center;
  }

  .social-media-list li a img{
    position: center;
    width: 50px;
    padding: 0;
    margin-top: 4px;
  }
  
  .social-media-list li {
    position: center; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #006400;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    position: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #000; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }

  .contact-list a{
    margin-bottom: 0.5vh;
    color: #555;
    font-size: 1vw;
  }
  
  .contact-form-container {
    background-color: white;
    padding: 4vw;
    border-radius: 1vw;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.1);
    width: 40vw;
    margin: 1vh auto;
    font-size: 1.5vw;
}

.contact-form-title {
    text-align: center;
    margin-bottom: 1vh;
    color: #333;
    font-size: 2.6vw;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-bottom: 0.5vh;
    color: #555;
    font-size: 1vw;
}

#contact-form input, 
#contact-form textarea {
    margin-bottom: 1vh;
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.6vw;
    font-size: 1vw;
    width: 100%;
}

#contact-form input:focus, 
#contact-form textarea:focus {
    outline: none;
    border-color: #007BFF;
}

#contact-message {
    resize: none;
    height: 12vh;
}

#contact-submit {
    padding: 0.5vw;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 0.6vw;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-submit:hover {
    background-color: #218838;
}
