body {
    margin: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #2e8b57;
    margin-bottom: 30px;
}

.controls {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.controls a.add-category,
.controls a.back-to-hub {
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.controls a.add-category {
    background-color: #2e8b57;
    color: white;
}

.controls a.add-category:hover {
    background-color: #45a049;
}

.controls a.back-to-hub {
    background-color: #007bff;
    color: white;
}

.controls a.back-to-hub:hover {
    background-color: #0056b3;
}

.controls input[type="text"] {
    width: 250px;
    padding: 10px 40px 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f4f4f4;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    position: relative;
}

.controls input[type="text"]:focus {
    border-color: #2e8b57;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(46, 139, 87, 0.4);
}

.controls input[type="text"]::placeholder {
    color: #999;
}

.controls .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
}

.controls input[type="text"]:focus + .search-icon {
    color: #2e8b57;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table td img {
    width: 60px;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a.edit {
    background-color: #00b900;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

a.edit:hover {
    background-color: #0d6e00;
}

button.delete {
    background-color: #dc143c;
    color: white;
}

button.delete:hover {
    background-color: #c11235;
}
